@font-face {
  font-family: AlteHaasGrotesk;
  src: url(AlteHaasGroteskBold.ttf);
}

body {
  margin: 0;
  font-family: AlteHaasGrotesk, Arial, Helvetica, sans-serif;
  overflow: auto;

}

h1 {
  display: flex;
  overflow: auto;
  text-align: justify;
  margin: 5%;
}