@font-face {
  font-family: AlteHaasGrotesk;
  src: url(AlteHaasGroteskBold.ttf);
}

.navbar {
  font-family: AlteHaasGrotesk, Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  /* other CSS properties */
}

li {
  display: inline;
  /* other CSS properties */
}

.navbar {
  position: fixed;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  background-color: white;
  height:80px;
  transform: translateY(40px);
  z-index: 10;
}


.navbar > ul {
  display: flex;
  gap: 60px;
  list-style: none;
  padding: 0;
  margin-top: 16px;
  margin-right: 30px;
  transform: translateY(-20px);
  gap: 50px;
}

.navbar li {
  margin-top: 12px;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: clamp(30px, 4vw, 50px);
  font-weight: 600;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.dropdown {
  position: relative;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.dropdown-menu {
  visibility: hidden; 
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 0;
  z-index: 10;
}

.dropdown-menu li {
  margin-top: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 25px;
  background: white;
  border: 2px solid black;
  border-top: none;
  color: black;
  white-space: nowrap;
  font-size: clamp(14px, 2vw, 24px);
 
}

.dropdown-menu li:first-child a {
  border-top: 2px solid black;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  visibility: visible;
  animation: fadeInSlideUp 0.3s ease-out;
}

.dropdown-menu a::after,
.dropdown-menu a:hover::after {
  display: none; 
  transform: none;
}

@media (max-width: 600px) {

  .navbar {
    height: auto;            /* let content size itself */
    bottom: 0;               /* sit flush at bottom */
    transform: none;         /* remove the desktop vertical offset */
    padding-right: 0;
    justify-content: center; /* center */
    background-color: white; /* keep block shape */
  }

  .navbar > ul {
    margin: 20px;
    transform: none;         /* remove upward shift */
    gap: 12px;               /* balanced spacing */
  }

  .navbar li {
    margin-top: 0;           /* remove desktop offset */
  }

  .navbar a {
    font-size: 24px;         /* stable thumb-friendly tap targets */
    transform: translateY(20px);
    padding: 0;        /* increases clickable area */
  }


  .navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1qpx;
  width: 100%;
  height: 3px;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.dropdown-menu {
  bottom: calc(100% + 10px); /* move dropdown closer to the link */
}

}